DATABASE_URL="file:./data/app.db"
PORT=3000
JWT_SECRET="_IScrwkRShZNAbRaGpr-5BmoWaXuTtxpi7LTI4-Jxl_1FcOtQVwTdki-v3ZIFTLh"
ADMIN_PROFILE_VERIFICATION_CODE="NfvlliUdfw4gyzNLf4uYu0zFWbbE7hKM"
SQLITE_BUSY_TIMEOUT=8000
SQLITE_WRITE_RETRIES=3
